.div {
    border: 2px solid #a9a9a9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 2%;
    justify-content: center;
    margin-top: 1%;
}

.divprincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
}

.divbutton {
    margin-left: auto;
}

.labelfile {
    cursor: pointer;
    color: black;
    font-weight: bold;
}

// et on masque le input
.inputfile {
    display: none;
}

.imageProfil {
    display: flex;
    justify-content: center;
}

.btnChangeUserName {
    margin-left: 2%;
}
