.btn {
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    // font-size: 14px;
    &-blue {
        background-color: #4183d7;
        color: #ffffff;
        width: 100%;
        border-radius: 5px;
        font-weight: bold;
        &:hover {
            background-color: #2a558d;
            color: #ffffff;
        }
    }
    &-link {
        background-color: #ffffff;
        font-size: 11px;
        &:hover {
            font-weight: bold;
        }
    }
    &-linkPage {
        background-color: #ffffff;
        font-size: 18px;
        text-align: center;
        width: 100%;
        &:hover {
            background-color: #8f97a0;
            color: black;
        }
    }
    &-white {
        background-color: #ffffff;
        color: black;
        width: 100%;
        border-radius: 5px;
        &:hover {
            background: black;
            color: #ffffff;
        }
    }
    &-grey {
        background-color: #dcdcdc;
        color: #a9a9a9;
        border: 0px;
        width: 100%;
        border-radius: 5px;
    }
    &-orange {
        background-color: #ff6e14;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        width: 70%;
        border: 0px;
        padding: 0px;
        &:hover {
            background: #ffffff;
            color: #ff6e14;
        }
    }
}
