.btn {
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    // font-size: 14px;
    &-blue {
        background-color: #4183d7;
        color: #ffffff;
        width: 100%;

        border-radius: 5px;
        font-weight: bold;
        &:hover {
            background-color: #2a558d;
            color: #ffffff;
        }
    }
    &-link {
        background-color: #ffffff;
        font-size: 11px;
        &:hover {
            font-weight: bold;
        }
    }
    &-linkPage {
        background-color: #ffffff;
        font-size: 18px;
        text-align: center;
        width: 100%;
        &:hover {
            background-color: #8f97a0;
            color: black;
        }
    }
    &-white {
        background-color: #ffffff;
        color: black;
        width: 100%;
        border-radius: 5px;
        &:hover {
            background: black;
            color: #ffffff;
        }
    }
    &-grey {
        background-color: #d3d3d3;
        color: #a9a9a9;
        border: 0px;
        width: 100%;
        border-radius: 5px;
    }
    &-grey1 {
        background-color: white;
        border: 2px solid #d3d3d3;
        border-radius: 5px;
        &:focus {
            border: 1px solid black;
        }
    }
    &-grey2 {
        background-color: #666;
        color: #ddd;
        border: 2px solid #ddd;
        width: 100%;
        border-radius: 5px;
        &:hover {
            background: #ddd;
            color: #666;
            border: 2px solid #666;
        }
    }
    &-orange {
        background-color: #ff6e14;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        width: 70%;
        border: 0px;
        padding: 0px;
        &:hover {
            background: #ffffff;
            color: #ff6e14;
        }
    }
    &-orange2 {
        background-color: #ff6e14;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        width: 100%;
        border: 0px;
        padding: 0px;
        &:hover {
            background: #ffffff;
            color: #ff6e14;
        }
    }
    &-ad {
        background-color: transparent;
        border: 0px;
        padding: 0px;
        font-weight: bold;
        &:hover {
            color: #ff6e14;
            font-weight: bold;
        }
    }

    &-profil {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0px;
    }
    &-heart {
        background-color: transparent;
        padding: 0px;
        color: #ff6e14;
        &:hover {
            font-weight: bold;
        }
    }
}
