.btn {
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    &-blue {
        background-color: #4183d7;
        color: #ffffff;
        width: 100%;
        border-radius: 5px;
        font-weight: bold;
        &:hover {
            background-color: #2a558d;
            color: #ffffff;
        }
    }
    &-link {
        background-color: #ffffff;
        font-size: 11px;
        &:hover {
            font-weight: bold;
        }
    }
    &-white {
        background-color: #ffffff;
        color: black;
        width: 100%;
        border-radius: 5px;
        border: 1px solid transparent;
        &:hover {
            background: black;
            color: #ffffff;
        }
    }
    &-orange {
        background-color: #ff6e14;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        width: 100%;
        &:hover {
            background: #ffffff;
            color: #ff6e14;
        }
    }
}
