.image {
    &-big {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
    &-medium {
        width: 400px;
        height: 400px;
        object-fit: contain;
        border-radius: 5%;
    }
    &-view {
        width: 300px;
        height: 300px;
        object-fit: contain;
        border-radius: 5%;
    }
    &-small {
        width: 150px;
        height: 40px;
        object-fit: contain;
    }
    &-profil {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid grey;
    }
    &-icon {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
}
