.image {
    &-big {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
    &-medium {
        width: 400px;
        height: 400px;
        object-fit: contain;
    }
    &-small {
        width: 150px;
        height: 40px;
        object-fit: contain;
    }
}
