.input {
    border-radius: 5px;
    &-search {
        padding: 1%;
        border: 5px solid transparent;
    }
    &-form {
        width: 100%;
        padding: 3%;
        border: 1px solid #d3d3d3;
        &:focus {
            border: 1px solid black;
        }
    }
}
.input::placeholder {
    color: #333333;
    font-weight: bold;
    font-size: 14px;
}
