.image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    object-fit: fill;
}

.flex {
    display: flex;
    border-radius: 8px;
    border: 2px solid #d3d3d3;
    margin-top: 3%;
}

.flex2 {
    display: flex;
    width: 100%;
}

.container {
    margin-left: 3%;
    width: 100%;
}

.interligne {
    line-height: 0.5em;
}

.button {
    display: flex;
    width: 100%;
    border-radius: 10px;
}

.buttonHeartOrDelete {
    position: absolute;
    right: 5px;
}
