.div {
    display: flex;
    flex-direction: row;
}

.maindiv {
    display: flex;
    justify-content: center;
    height: 100%;
}
.div {
    width: 70%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.searchdiv {
    width: 80%;
    height: 15%;
}
