.div {
    display: flex;
    flex-direction: row;
}

.maindiv {
    display: flex;
    justify-content: center;
    height: 100%;
}
.div {
    width: 70%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.searchdiv {
    width: 80%;
    height: 15%;
    border: 2px solid rgb(199, 197, 197);
    box-shadow: 5px 10px 10px -10px #cdcaca;
}

.box {
    padding: 20px 10px 10px 10px;
    display: flex;
    align-items: center;
}
.divbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    background-color: rgb(199, 197, 197);
}

.btnmain {
    display: flex;
    justify-content: center;
}

.btn {
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.image {
    width: 300px;
    height: 150px;
    text-align: center;
    border-radius: 5px;
    margin: 20px 10px 30px;
    object-fit: contain;
}

.flex {
    display: flex;
    align-items: center;
    border: 2px solid black;
    position: relative;
}

.heart {
    position: absolute;
    right: 2%;
    bottom: 2%;
}
