.div {
    display: flex;
    flex-direction: row;
}

.maindiv {
    display: flex;
    justify-content: center;
    height: 100%;
}
.div {
    width: 70%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.searchdiv {
    width: 80%;
    border-radius: 3%;
    height: 20%;
}

.box {
    padding: 20px 10px 10px 10px;
    display: flex;
}
.divbox {
    display: flex;
    justify-content: center;
}

.btnmain {
    display: flex;
    justify-content: center;
}

.btn {
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
}
