@import "./themes/buttons";
@import "./themes/text-align";
@import "./themes/title";
@import "./themes/image";
@import "./themes/input";
@import "./themes/padding";
@import "./themes/title";
@import "./themes/color";
@import "./themes/width";

html,
#__next {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
